@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-scroll {
    overflow: auto;
    scrollbar-width: thin;
    scroll-behavior: smooth;
  }
  .nav-scroll::-webkit-scrollbar {
    width: 8px;
  }
  .nav-scroll::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
  }
  .nav-scroll::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 14px;
  }
  .nav-scroll:hover::-webkit-scrollbar-thumb {
    background: #9ca3af;
  }
}
